[Unit]
Description=BreadBot - The Discord Bot for ACM @ UCSD
Documentation=https://github.com/acmucsd/discord-bot
After=network.target

[Service]
EnvironmentFile=/opt/discord-bot/.env
Type=simple
User=bot
ExecStart=/usr/bin/npm run start
ExecStop=/usr/bin/pkill -f npm
WorkingDirectory=/opt/discord-bot
Restart=on-failure

[Install]
WantedBy=multi-user.target
